:root {
  --background: linear-gradient(90deg, rgb(0, 0, 194), rgb(0, 207, 243));
}

body {
  background-image: var(--background);
}

.container {
  width: 100%;
  height: 90vh;
  position: relative;
}

.card {
  width: 300px;
  height: 400px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.4);
  border-radius: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: white;
  background-size: cover;
}

.card-inner {
  backdrop-filter: blur(1.5px);
  width: 300px;
  height: 400px;
  border-radius: 30px;
}

.card:hover {
  box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.5);
}

.card-content {
  padding: 1%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  font-size: 1.1rem;
}

img {
  border-radius: 10px 10px 0 0;
}

.toolbar-container {
  height: 50px;
  display: flex;
  border-bottom: 1px solid black;
}

.toolbar-container input {
  flex-grow: 2;
  margin: 10px;
  border-radius: 10px;
  border: none;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4);
}

.toolbar-container button {
  width: 20px;
  flex-grow: 1;
  margin: 10px;
  border-radius: 10px;
  border: none;
  position: relative;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4);
}

.toolbar-container button:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
}

.toolbar-container button svg {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

p {
  background-color: rgba(255, 255, 255, 0.384);
  border-radius: 10px;
  font-weight: bold;
  text-align: center;
  width: 100%;
}

.text {
  background-color: rgba(255, 255, 255, 0.384);
  border-radius: 10px;
  font-weight: bold;
  margin-top: 20px;
}

table {
  text-align: center;
  width: 250px;
}

.name {
  font-size: 1.5rem;
}

.text span {
  font-size: 1.5rem;
}

.secondary-text {
  padding: 20px;
  text-align: center;
}
