.card {
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}

.card:hover {
  box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.5);
}

.card-content {
  padding: 1%;
}

img {
  border-radius: 10px 10px 0 0;
}
